startup --output_base=~/.bazelout
startup --digest_function=BLAKE3
startup --max_idle_secs=86400

common --color=yes

# Allow rules to bring their own precompiled protoc
common --incompatible_enable_proto_toolchain_resolution
common --@com_google_protobuf//bazel/toolchains:prefer_prebuilt_protoc

# Enforce BzlMod usage
common --noenable_workspace
common --enable_bzlmod=true

common --disk_cache=~/bzlcache
common --repository_cache=~/.bzl_repo_cache

# needed for rules_rust as of https://github.com/muchq/MoonBase/pull/295/files
# updating protobuf to v28.0 caused a conflict with the crates repo
common --experimental_isolated_extension_usages

# use a static value for PATH and does not inherit LD_LIBRARY_PATH
# improves analysis cache hits when building in intellij and from
# the command line
common --incompatible_strict_action_env

# go faster I hope
common --remote_build_event_upload=minimal
common --remote_download_outputs=minimal
common --remote_cache_compression

common --cxxopt='-std=c++20'
common --host_cxxopt='-std=c++20'
# common --action_env=BAZEL_CXXOPTS="-std=c++20"

build:debug -c dbg

build --compilation_mode=opt
test --compilation_mode=opt

common --java_language_version=25
common --java_runtime_version=remotejdk_25
common --tool_java_language_version=25
common --tool_java_runtime_version=remotejdk_25

# build --strategy=Scalac=worker

# layering check fails because golf_service:handlers depends on :protobuf for json_util.h
# this is weird because :protobuf hdrs glob **/*.h which includes json_util.h
# build --features=layering_check

common --test_verbose_timeout_warnings
common --test_output=errors

# don't block on remote-cache uploads
common --bes_upload_mode=fully_async

# Platform-specific configurations
build:macos --features=-module_maps

# Auto-detect platform
build --enable_platform_specific_config
