target
*.iml
.ijwb
.clwb
bazel-*
.DS_Store
out
.bsp
.bazelbsp
.metals
.claude
.kiro
vcpkg_installed
conan
rust-project.json
go/r3dr/deploy/deploy.sh
models
checkpoints

.env
local_docker
local_docs

node_modules
web/build_pal/dist
.build
.swiftpm
