[workspace]
resolver = "2"

members = [
    "rust/build_pal",
    "rust/build_pal/core",
    "rust/build_pal/cli",
    "rust/build_pal/server",
    "rust/cards",
    "rust/doc_db",
    "rust/imagine",
    "rust/mithril",
    "rust/posterize",
    "rust/server_pal",
    "rust/wordchains",
    "protos/example_service",
    "protos/doc_db",
]

[workspace.package]
edition = "2024"
rust-version = "1.88.0"
readme = "README.md"


[workspace.dependencies]
anyhow = "1.0.100"
async-stream = "0.3.6"
axum = "0.8.7"
base64 = "0.22.1"
base64ct = { version = "1.8.1", features = ["alloc"] }
bollard = "0.19.4"
build_pal_core = { path = "rust/build_pal/core" }
build_pal_server = { path = "rust/build_pal/server" }
build_pal_cli = { path = "rust/build_pal/cli" }
chrono = { version = "0.4.42", features = ["serde"] }
clap = { version = "4.5.53", features = ["cargo"] }
doc_db_proto = { path = "protos/doc_db" }
dotenv = "0.15.0"
flate2 = "1.1.5"
futures = "0.3.31"
git2 = { version = "0.20.3",  default-features = false }
image = { version = "0.25.9", default-features = false, features = ["png", "jpeg"] }
imagine = { path = "rust/imagine" }
log = "0.4.29"
mongodb = "3.4.1"
prost = { version = "0.14.1" }
prost-types = { version = "0.14.1", default-features = false }
protoc-gen-tonic = "0.5.0"
protoc-gen-prost = "0.5.0"
redis = { version = "1.0.1", features = ["tokio-comp"] }
reqwest = { version = "0.12.25", default-features = false, features = ["json", "stream", "rustls-tls"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
server_pal = { path = "rust/server_pal" }
sha2 = "0.11.0-rc.3"
simplelog = { version = "0.12.2", features = ["paris"] }
sqlx = { version = "0.8.6", default-features = false, features = ["runtime-tokio-rustls", "postgres", "uuid", "chrono", "migrate"] }
tempfile = "3.23.0"
thiserror = "2.0.17"
tokio = { version = "1.48.0", default-features = false, features = ["macros", "net", "rt-multi-thread", "signal"] }
tokio-stream = "0.1.17"
tokio-tungstenite = "0.28.0"
tonic = { version = "0.14.2", features = ["transport"] }
tonic-build = "0.14.2"
tonic-prost = "0.14.2"
tower = "0.5.2"
tower-http = { version = "0.6.8", features = ["full"] }
tracing = "0.1.43"
tracing-subscriber = "0.3.22"
uuid = { version = "1.19.0", features = ["v4", "fast-rng", "serde"]}
wordchains = { path = "rust/wordchains" }
