<configuration scan="true" scanPeriod="30 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- Full ISO date, not bare time-of-day: these lines get shipped and
           read offline, where HH:mm:ss alone cannot even be ordered (#1456). -->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <options>
      <dsn>${SENTRY_DSN}</dsn>
    </options>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <logger name="com.zaxxer.hikari" level="INFO"/>

  <root level="TRACE">
    <appender-ref ref="Sentry"/>
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
