api.muchq.com {
	@post_portrait {
		method POST
		path /portrait/v1/trace
	}

	@post_mithril {
		method POST
		path /mithril/v1/wordchain
	}

	@post_posterize_blur {
		method POST
		path /imagine/v1/blur
	}

	@post_posterize_edges {
		method POST
		path /imagine/v1/edges
	}

	@get_timeseries {
		method GET
		path /metrics/v1/timeseries/*
	}

	@get_metrics {
		method GET
		path /metrics/v1/scalar/*
	}

	@ws_thoughts {
		path /games/v1/thoughts-ws
	}

	@ws_golf {
		path /games/v1/golf-ws
	}

	@options {
		method OPTIONS
	}

	header {
		Access-Control-Allow-Origin "https://muchq.com"
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization"
		Access-Control-Max-Age "86400"
	}

	handle @options {
		header {
			Access-Control-Allow-Origin "https://muchq.com"
			Access-Control-Allow-Methods "GET, POST, OPTIONS"
			Access-Control-Allow-Headers "Content-Type, Authorization"
			Access-Control-Max-Age "86400"
		}
		respond 204
	}

	reverse_proxy @ws_thoughts games_ws_backend:8080
	reverse_proxy @ws_golf games_ws_backend:8080
	reverse_proxy @post_portrait portrait:8081
	reverse_proxy @get_timeseries prom_proxy:8082
	reverse_proxy @get_metrics prom_proxy:8082
	reverse_proxy @post_mithril mithril:8083
	reverse_proxy @post_posterize_blur posterize:8084
	reverse_proxy @post_posterize_edges posterize:8084

	log {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 90d
		}
	}
}

www.r3dr.net {
	redir https://r3dr.net{uri}
}

r3dr.net {
	encode gzip
	@postshorten {
		method POST
		path /shorten
	}
	@getredir {
		method GET
		path /r/*
	}
	root * /var/www/r3dr
	reverse_proxy @postshorten r3dr:8080
	reverse_proxy @getredir r3dr:8080

	file_server
	log {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 90d
		}
	}
}

consolidated.cmptr.info {
	respond "Consolidating..."
}

mcp.1d4.net {
	@mcp {
		method POST
		path /mcp
	}

	reverse_proxy @mcp mcpserver:8080

	log {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 90d
		}
	}
}
