api.muchq.com {
	@post_portrait {
		method POST
		path /v1/trace
	}

	@options {
		method OPTIONS
	}

	header {
		Access-Control-Allow-Origin "https://muchq.com"
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization"
		Access-Control-Max-Age "86400"
	}

	handle @options {
		header {
			Access-Control-Allow-Origin "https://muchq.com"
			Access-Control-Allow-Methods "GET, POST, OPTIONS"
			Access-Control-Allow-Headers "Content-Type, Authorization"
			Access-Control-Max-Age "86400"
		}
		respond 204
	}

	reverse_proxy @post_portrait portrait:8081 {
		header_down -Access-Control-Allow-Origin
		header_down -Access-Control-Allow-Methods
		header_down -Access-Control-Allow-Headers
		header_down -Access-Control-Max-Age
	}

	@get_timeseries {
		method GET
		path /v1/timeseries/*
	}

	reverse_proxy @get_timeseries prom_proxy:8082

	@get_metrics {
		method GET
		path /v1/metrics/*
	}

	reverse_proxy @get_metrics prom_proxy:8082

	reverse_proxy games_ws_backend:8080
	log {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 90d
		}
	}
}
