www.r3dr.net {
	redir https://r3dr.net{uri}
}

r3dr.net {
	encode gzip
	@postshorten {
		method POST
		path /shorten
	}
	@getredir {
		method GET
		path /r/*
	}
	root * /var/www/r3dr
	reverse_proxy @postshorten localhost:8080
	reverse_proxy @getredir localhost:8080

	file_server
}
